/* please discuss with team before you rename this file,
    purpose of this file is pretty self explanatory */

    body {
        height: 100%;
        width: 100%;
        padding: 10px;
    }

    .navbar{
        background-color: #550065;
        color: white;
    }
    .navbar-top-right{
        font-size: 14px;
    }
    .navbar-bottom-image{
        height: 45px;
    }