.navbar-adjacent-header {
    background-color: #550065;
    color: white;
}

.navbar-adjacent-header img {
    height: 110px;
}

.page-name {
    border-right: white;
    border-width: 1px;
}

.main-content {
    background-color: #EEEEE4;
}

.watch-options {
    display: inline;
}

.wtw-dropdown {
    background-color: transparent;
    border: none;
    margin-top: -14px;
    width: 190px;
}

.sort-button-wtw {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image-wrapper {
    width: 90px;
    /* Set the width of the wrapper */
    height: 50px;
    /* Let the height adjust automatically based on content */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
    /* Optional: Adjust margin between images */
    margin-bottom: 10px;
    /* Optional: Adjust margin between images */
    display: inline-flex;
    /* Use flexbox to center the image */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    margin-top: 20px;
}

.image-wrapper img {
    width: 30px;
    height: 30px;
    /* Make the image width 100% of its parent container */
    height: auto;
    /* Let the height adjust automatically based on the width */
    display: block;
    /* Ensure proper alignment */
    object-fit: contain;
}

/* cardtest.css */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    /* Add some top margin for spacing */
}

.product-card {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* Add margin to create space between cards */
}

.card {
    width: 460px;
    --bs-card-border-width: none !important;

}

.card-body {

    height: 155px;
}

.card-body .d-flex {
    margin-bottom: 5px;
    /* Add margin between flex items */
}


.card-body span:first-child {
    text-transform: uppercase;
    /* Convert text to uppercase */
}

.card-body .d-flex:last-child {
    justify-content: space-between;
    /* Space between elements */
}

.body-inside-main-content {
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    grid-gap: 10px;

    /* Adjust the gap between cards */
}

.grid-row {
    display: contents;
    width: 100%;
    /* Display the cards in the grid layout */
}

.group-image {
    max-width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-date {
    font-size: 12px;
    opacity: .5;
}

.team-name {
    font-weight: 550;
}

.w-95 {
    width: 95%;
}

.full-time {
    font-size: 10px;
    font-weight: 600;
    width: 18px;
    height: 13px;
    background-color: #550065;
    color: white;
    position: relative;
    top: 39%;
    border-radius: 5px;
    left: 1%;
}

.group-header {
    font-weight: 500;
}

.w-80 {
    width: 80%;
}

.card:hover {
    border: 1px solid black;
}