.stats-page-logo img {
    width: 90px;
}

.w-60 {
    width: 60%;
}

.stats-page-group-section {
    font-weight: 500;
    opacity: 0.5;
}

.stats-page-teamsandflag {
    font-size: 30px;
    font-weight: 400;
}

.full-time {
    font-size: 10px;
    font-weight: 500;
    width: 60px;
    height: 15px;
    background-color: #550065;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.image-wrapper {
    width: 40px;
    /* Let the height adjust automatically based on content */
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    /* margin-right: 10px;
    margin-bottom: 10px; */
    display: inline-flex;
    /* Use flexbox to center the image */
    align-items: center;
    /* Center vertically */
    justify-content: center;
}

.image-wrapper img {
    width: 20px;
    height: 20px;
    height: auto;
    display: block;
    object-fit: contain;
}

.fa-chevron-down {
    color: #FF0E56;
}

.highlights-button {
    font-size: 13px;
    width: 150px;
    height: 40px;
    background-color: #088FFF;
    color: white;
    border-radius: 20px;
    padding-top: 10px;
    text-align: center;
}

.choose-item {
    cursor: pointer;
}

.pink-text {
    color: #FF0E56;
}

/* Add your CSS styles here */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 65px;
    background-color: white;
    border-radius: 5px;
}

table tbody tr {
    border-bottom: 1px solid #00000033;
}

td {
    padding: 8px;
    text-align: center;
    border-right: 1px solid #000;
}


th,
td {
    padding: 8px;
    text-align: center;
}

.qualification-symbol {
    color: green;
    margin-left: 5px;
}

.main-content {
    background-color: #EEEEE4;
}

.w-20 {
    width: 40px;
}

.group-header {
    font-weight: 700;
    font-size: 20px;
}

thead {
    margin-left: 10px;
}

.table-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    /* Adjust the margin top as needed */
}

.group-header {
    padding-bottom: 10px;
    /* Adjust the padding as needed */
}

#tablesContainer {
    padding-top: 40px;
    padding-bottom: 50px
}

/* CSS for progress bars and containers */
.progress-container {
    display: flex;
    margin-right: 10px;
    height: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.progress-team {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    border-radius: 5px;
    /* margin-right: 10px; */
    margin-top: 10px;
    /* margin-left: 10px; */

}

#progress-bar-container {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
}

.team1 {
    background-color: #550065;
    height: 8px;
}

.team2 {
    background-color: #00CFB7;
    height: 8px;
}

.stat-header {
    display: flex;
    justify-content: center;
}

.team1-stat-value {
    padding-right: 10px;
}

.team2-stat-value {
    padding-left: 10px;
}

.team-names {
    padding-left: 10px;
    padding-right: 10px;
}

.progress-team:nth-child(2) {
    margin-right: 5px;
}